### Numpy: Package for Multidimensional Array

In [1]:
import numpy as np

In [2]:
arr=np.array([1,2,3])
arr

array([1, 2, 3])

In [6]:
list_of_lists=[[1,2,3],[4,5,6],[7,8,9]]
np.array(list_of_lists)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
np.arange(100)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [9]:
np.arange(1,46,5)

array([ 1,  6, 11, 16, 21, 26, 31, 36, 41])

In [13]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [17]:
np.zeros(10,int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [15]:
np.ones(100)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [16]:
np.ones(100,int)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [19]:
np.ones((2,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

### Create an array of zeros with 2 rows and 10 columns

In [27]:
import numpy as np

In [28]:
np.linspace(0,1,5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [29]:
np.linspace(0,20,8)

array([ 0.        ,  2.85714286,  5.71428571,  8.57142857, 11.42857143,
       14.28571429, 17.14285714, 20.        ])

In [32]:
np.eye(10)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [33]:
np.random.rand(3,2)

array([[0.70435725, 0.15850244],
       [0.1429118 , 0.82820397],
       [0.17560424, 0.81638793]])

In [34]:
np.random.randn(3,2)

array([[ 1.16270751,  0.41914618],
       [-0.28492687,  0.5249613 ],
       [-0.21003188,  0.59252303]])

In [38]:
np.random.randint(34,100)

54

In [45]:
np.random.randint(20,56,100)

array([34, 43, 25, 29, 23, 53, 39, 34, 46, 42, 26, 26, 25, 48, 49, 30, 47,
       52, 24, 29, 41, 37, 23, 32, 29, 32, 47, 55, 28, 35, 43, 55, 42, 21,
       21, 54, 55, 37, 32, 22, 31, 33, 39, 35, 34, 37, 31, 24, 31, 23, 40,
       54, 25, 32, 44, 26, 41, 39, 45, 40, 36, 44, 30, 23, 30, 26, 38, 38,
       44, 34, 52, 52, 24, 43, 44, 24, 55, 55, 53, 38, 37, 50, 31, 40, 23,
       46, 32, 31, 50, 36, 54, 28, 46, 22, 24, 32, 31, 21, 32, 46])

In [46]:
sample_array=np.arange(30)
sample_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [67]:
rand_array=np.random.randint(0,100,20)
rand_array

array([10, 92, 66, 10, 61,  6, 70, 58, 87, 29, 87, 42, 53,  0, 31, 37, 93,
       21, 97, 36])

In [61]:
sample_array.reshape(6,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

In [68]:
rand_array.min()

0

In [69]:
rand_array.argmin()

13

In [70]:
sample_array.dtype

dtype('int32')

In [72]:
a=np.eye(5)
a

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [73]:
a.T

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [75]:
a=np.random.rand(2,3)
a

array([[0.64778069, 0.58005792, 0.20459477],
       [0.88420554, 0.10205861, 0.83905576]])

In [76]:
a.T

array([[0.64778069, 0.88420554],
       [0.58005792, 0.10205861],
       [0.20459477, 0.83905576]])

In [79]:
sample_array=np.arange(10,21)
sample_array

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [81]:
sample_array[3]

13

In [82]:
sample_array[3:7]

array([13, 14, 15, 16])

In [84]:
sample_array[1:4]=100
sample_array

array([ 10, 100, 100, 100,  14,  15,  16,  17,  18,  19,  20])

In [87]:
sample_array=np.arange(10,21)
sample_array

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [90]:
sample_array[0:7]

array([10, 11, 12, 13, 14, 15, 16])

In [91]:
subset_sample_array=sample_array[0:7]
subset_sample_array

array([10, 11, 12, 13, 14, 15, 16])

In [92]:
subset_sample_array[1:4]=1001
subset_sample_array

array([  10, 1001, 1001, 1001,   14,   15,   16])

In [96]:
subset_sample_array[:]=1001
subset_sample_array

array([1001, 1001, 1001, 1001, 1001, 1001, 1001])

## Two-Dimensional Array

In [ ]:
import numpy as np

In [98]:
sample_matrix=np.array(([50,20,1,23],[24,23,21,33],[56,76,24,7]))
sample_matrix

array([[50, 20,  1, 23],
       [24, 23, 21, 33],
       [56, 76, 24,  7]])

In [99]:
sample_matrix[0][2]

1

In [100]:
sample_matrix[2,:]

array([56, 76, 24,  7])

In [101]:
sample_matrix[2]

array([56, 76, 24,  7])

In [103]:
sample_matrix[:,(3,2)]

array([[23,  1],
       [33, 21],
       [ 7, 24]])

## Selection Techniques

In [105]:
sample_array=np.arange(1,20)
sample_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19])

In [106]:
sample_array+sample_array

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34,
       36, 38])

In [107]:
np.exp(sample_array)  #exponential

array([2.71828183e+00, 7.38905610e+00, 2.00855369e+01, 5.45981500e+01,
       1.48413159e+02, 4.03428793e+02, 1.09663316e+03, 2.98095799e+03,
       8.10308393e+03, 2.20264658e+04, 5.98741417e+04, 1.62754791e+05,
       4.42413392e+05, 1.20260428e+06, 3.26901737e+06, 8.88611052e+06,
       2.41549528e+07, 6.56599691e+07, 1.78482301e+08])

In [108]:
np.sqrt(sample_array)

array([1.        , 1.41421356, 1.73205081, 2.        , 2.23606798,
       2.44948974, 2.64575131, 2.82842712, 3.        , 3.16227766,
       3.31662479, 3.46410162, 3.60555128, 3.74165739, 3.87298335,
       4.        , 4.12310563, 4.24264069, 4.35889894])

In [109]:
np.log(sample_array)

array([0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791,
       1.79175947, 1.94591015, 2.07944154, 2.19722458, 2.30258509,
       2.39789527, 2.48490665, 2.56494936, 2.63905733, 2.7080502 ,
       2.77258872, 2.83321334, 2.89037176, 2.94443898])

In [110]:
np.max(sample_array)

19

In [111]:
np.min(sample_array)

1

In [112]:
np.argmin(sample_array)

0

In [113]:
np.square(sample_array)

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144, 169,
       196, 225, 256, 289, 324, 361], dtype=int32)

In [114]:
np.std(sample_array)

5.477225575051661

In [115]:
np.var(sample_array)

30.0

In [116]:
np.mean(sample_array)

10.0

In [117]:
array=np.random.randn(3,4)
array

array([[-1.29455967, -0.17667754, -0.7141157 ,  1.89725952],
       [ 0.51887055, -1.72186423,  0.93140144,  1.01783602],
       [-0.67755687, -0.61073707, -0.91887434,  0.8747496 ]])

In [118]:
np.round(array,decimals=4)

array([[-1.2946, -0.1767, -0.7141,  1.8973],
       [ 0.5189, -1.7219,  0.9314,  1.0178],
       [-0.6776, -0.6107, -0.9189,  0.8747]])

In [120]:
sports=np.array(['golf','cricket','fball','cricket','Football'])
np.unique(sports)

array(['Football', 'cricket', 'fball', 'golf'], dtype='<U8')

# Pandas-->

### To create data 
### To create table
### Manipulation

In [121]:
import pandas as pd
import numpy as np

In [129]:
labels=['w','x','y','z']
sample_list=[100,200,300,400]
array=np.array([1,2,3,4])
dict={'w':10,'x':20,'y':30,'z':40}

In [130]:
pd.Series(data=sample_list)

0    100
1    200
2    300
3    400
dtype: int64

In [131]:
pd.Series(data=sample_list,index=labels)

w    100
x    200
y    300
z    400
dtype: int64

In [132]:
pd.Series(sample_list,labels)

w    100
x    200
y    300
z    400
dtype: int64

In [133]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

# Pandas

## Pandas Dataframe and indexing

In [134]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])
sports1

cricket       1
football      2
basketball    3
golf          4
dtype: int64

In [135]:
sports1['cricket']

1

In [140]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','basketball','golf'])
sports2

cricket       11
football       2
basketball     3
golf           4
dtype: int64

In [141]:
sports1+sports2

cricket       12
football       4
basketball     6
golf           8
dtype: int64

In [148]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H'.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1

     Score1    Score2    Score3    Score4    Score5
A  0.901162  0.107250  0.301194  0.599597  0.736434
B  0.081900  0.096335  0.909412  0.265614  0.529122
C  0.292226  0.492346  0.029517  0.060159  0.341314
D  0.161728  0.598338  0.861106  0.305381  0.899051
E  0.233079  0.449952  0.077675  0.389769  0.673109
F  0.440460  0.975451  0.308539  0.616236  0.692448
G  0.752101  0.272638  0.223285  0.349660  0.714182
H  0.347775  0.324703  0.357192  0.209630  0.603812

In [150]:
df1["Score3"]

A    0.301194
B    0.909412
C    0.029517
D    0.861106
E    0.077675
F    0.308539
G    0.223285
H    0.357192
Name: Score3, dtype: float64

In [151]:
df1[["Score1","Score2","Score3"]]

     Score1    Score2    Score3
A  0.901162  0.107250  0.301194
B  0.081900  0.096335  0.909412
C  0.292226  0.492346  0.029517
D  0.161728  0.598338  0.861106
E  0.233079  0.449952  0.077675
F  0.440460  0.975451  0.308539
G  0.752101  0.272638  0.223285
H  0.347775  0.324703  0.357192

In [153]:
df1['Score6']=df1['Score1']+df1['Score2']
df1

     Score1    Score2    Score3    Score4    Score5    Score6
A  0.901162  0.107250  0.301194  0.599597  0.736434  1.008412
B  0.081900  0.096335  0.909412  0.265614  0.529122  0.178235
C  0.292226  0.492346  0.029517  0.060159  0.341314  0.784572
D  0.161728  0.598338  0.861106  0.305381  0.899051  0.760066
E  0.233079  0.449952  0.077675  0.389769  0.673109  0.683030
F  0.440460  0.975451  0.308539  0.616236  0.692448  1.415911
G  0.752101  0.272638  0.223285  0.349660  0.714182  1.024739
H  0.347775  0.324703  0.357192  0.209630  0.603812  0.672478

In [156]:
df2={'ID':['101','102','103','107','176'],'NAME':['John','Mercy','Akash','Kavin','Lally'],'PROFIT':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

    ID   NAME  PROFIT
0  101   John      20
1  102  Mercy      54
2  103  Akash      56
3  107  Kavin      87
4  176  Lally     123

In [157]:
df["ID"]

0    101
1    102
2    103
3    107
4    176
Name: ID, dtype: object

In [159]:
df[["ID","NAME"]]

    ID   NAME
0  101   John
1  102  Mercy
2  103  Akash
3  107  Kavin
4  176  Lally

In [165]:
df.drop("ID",axis=1)

    NAME  PROFIT
0   John      20
1  Mercy      54
2  Akash      56
3  Kavin      87
4  Lally     123

In [161]:
df.drop(3)

    ID   NAME  PROFIT
0  101   John      20
1  102  Mercy      54
2  103  Akash      56
4  176  Lally     123

## How to Import Dataset using Pandas?

In [1]:
import numpy as np
import pandas as pd

In [16]:
df=pd.read_excel("https://raw.githubsercontent.com/Premlatha-success/Financial-Analytics-Loan-Approval-Prediction/main/loan_prediction.csv")

ValueError: Excel file format cannot be determined, you must specify an engine manually.

In [18]:
df.head(10)

Empty DataFrame
Columns: [<!doctype html><html data-adblockkey="MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANDrp2lz7AOmADaN8tA50LsWcjLFyQFcb/P2Txc58oYOeILb3vBw7J6f4pamkAQVSQuqYsKx3YzdUHCvbVZvFUsCAwEAAQ==_OTVnl4GT3WKlHE7HlJPBFav5evrWMtMg47o4UmJecOap/K6Hdqr8fW9ZSh5BnpVewgvO/dSCzWCUwx46GarEeQ=="><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,  initial-scale=1"><link rel="preconnect" href="https://www.google.com" crossorigin></head><body><div id="target" style='opacity: 0'></div><script>window.park = "eyJ1dWlkIjoiMTQyN2JkZWEtZGJjZS03YjQ2LTE3ZGUtZGQwY2JkZmIyYTE3IiwicGFnZV90aW1lIjoxNjcxNzc4NjYyLCJwYWdlX3VybCI6Imh0dHA6XC9cL3d3MjUucmF3LmdpdGh1YnNlcmNvbnRlbnQuY29tXC9QcmVtbGF0aGEtc3VjY2Vzc1wvRmluYW5jaWFsLUFuYWx5dGljcy1Mb2FuLUFwcHJvdmFsLVByZWRpY3Rpb25cL21haW5cL2xvYW5fcHJlZGljdGlvbi5jc3Y/c3ViaWQxPTIwMjIxMjIzLTE2MjUtMzU4MC1iYjc4LWJlMjhiNzg4MTg2MC5jc3YiLCJwYWdlX21ldGhvZCI6IkdFVCIsInBhZ2VfcmVxdWVzdCI6eyJzdWJpZDEiOiIyMDIyMTIyMy0xNjI1LTM1ODAtYmI3OC1iZTI4Yjc4ODE4NjAuY3N2In0sInBhZ2VfaGVhZGVycyI6W10sImhvc3QiOiJ3dzI1LnJhdy5naXRodWJzZXJjb250ZW50LmNvbSIsImlwIjoiMTIyLjE2MS4xNzAuMTcyIn0=";</script><script src="/js/parking.2.101.0.js"></script></body></html>]
Index: []

In [22]:
df.sample(0)

Empty DataFrame
Columns: [<!doctype html><html data-adblockkey="MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANDrp2lz7AOmADaN8tA50LsWcjLFyQFcb/P2Txc58oYOeILb3vBw7J6f4pamkAQVSQuqYsKx3YzdUHCvbVZvFUsCAwEAAQ==_OTVnl4GT3WKlHE7HlJPBFav5evrWMtMg47o4UmJecOap/K6Hdqr8fW9ZSh5BnpVewgvO/dSCzWCUwx46GarEeQ=="><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,  initial-scale=1"><link rel="preconnect" href="https://www.google.com" crossorigin></head><body><div id="target" style='opacity: 0'></div><script>window.park = "eyJ1dWlkIjoiMTQyN2JkZWEtZGJjZS03YjQ2LTE3ZGUtZGQwY2JkZmIyYTE3IiwicGFnZV90aW1lIjoxNjcxNzc4NjYyLCJwYWdlX3VybCI6Imh0dHA6XC9cL3d3MjUucmF3LmdpdGh1YnNlcmNvbnRlbnQuY29tXC9QcmVtbGF0aGEtc3VjY2Vzc1wvRmluYW5jaWFsLUFuYWx5dGljcy1Mb2FuLUFwcHJvdmFsLVByZWRpY3Rpb25cL21haW5cL2xvYW5fcHJlZGljdGlvbi5jc3Y/c3ViaWQxPTIwMjIxMjIzLTE2MjUtMzU4MC1iYjc4LWJlMjhiNzg4MTg2MC5jc3YiLCJwYWdlX21ldGhvZCI6IkdFVCIsInBhZ2VfcmVxdWVzdCI6eyJzdWJpZDEiOiIyMDIyMTIyMy0xNjI1LTM1ODAtYmI3OC1iZTI4Yjc4ODE4NjAuY3N2In0sInBhZ2VfaGVhZGVycyI6W10sImhvc3QiOiJ3dzI1LnJhdy5naXRodWJzZXJjb250ZW50LmNvbSIsImlwIjoiMTIyLjE2MS4xNzAuMTcyIn0=";</script><script src="/js/parking.2.101.0.js"></script></body></html>]
Index: []

In [23]:
df.shape

(0, 2)

In [25]:
df.dtypes

<!doctype html><html data-adblockkey="MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANDrp2lz7AOmADaN8tA50LsWcjLFyQFcb/P2Txc58oYOeILb3vBw7J6f4pamkAQVSQuqYsKx3YzdUHCvbVZvFUsCAwEAAQ==_OTVnl4GT3WKlHE7HlJPBFav5evrWMtMg47o4UmJecOap/K6Hdqr8fW9ZSh5BnpVewgvO/dSCzWCUwx46GarEeQ=="><head><meta charset="utf-8"><meta name="viewport" content="width=device-width                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              object
 initial-scale=1"><link rel="preconnect" href="https://www.google.com" crossorigin></head><body><div id="target" style='opacity: 0'></div><script>window.park = "eyJ1dWlkIjoiMTQyN2JkZWEtZGJjZS03YjQ2LTE3ZGUtZGQwY2JkZmIyYTE3IiwicGFnZV90aW1lIjoxNjcxNzc4NjYyLCJwYWdlX3VybCI6Imh0dHA6XC9cL3d3MjUucmF3LmdpdGh1YnNlcmNvbnRlbnQuY29tXC9QcmVtbGF0aGEtc3VjY2Vzc1wvRmluYW5jaWFsLUFuYWx5dGljcy1Mb2FuLUFwcHJvdmFsLVByZWRpY3Rpb25cL21haW5cL2xvYW5fcHJlZGljdGlvbi5jc3Y/c3ViaWQxPTIwMjIxMjIzLTE2MjUtMzU4MC1iYjc4LWJlMjhiNzg4MTg2MC5jc3YiLCJwYWdlX21ldGhvZCI6IkdFVCIsInBhZ2VfcmVxdWVzdCI6eyJzdWJpZDEiOiIyMDIyMTIyMy0xNjI1LTM1ODAtYmI3OC1iZTI4Yjc4ODE4NjAuY3N2In0sInBhZ2VfaGVhZGVycyI6W10sImhvc3QiOiJ3dzI1LnJhdy5naXRodWJzZXJjb250ZW50LmNvbSIsImlwIjoiMTIyLjE2MS4xNzAuMTcyIn0=";</script><script src="/js/parking.2.101.0.js"></script></body></html>    object
dtype: object

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 2 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    --------------  -----
 0   <!doctype html><html data-adblockkey="MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANDrp2lz7AOmADaN8tA50LsWcjLFyQFcb/P2Txc58oYOeILb3vBw7J6f4pamkAQVSQuqYsKx3YzdUHCvbVZvFUsCAwEAAQ==_OTVnl4GT3WKlHE7HlJPBFav5evrWMtMg47o4UmJecOap/K6Hdqr8fW9ZSh5BnpVewgvO/dSCzWCUwx46GarEeQ=="><head><meta charset="utf-8"><meta name="viewport" content="width=device-width                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            0 non-null      object
 1    initial-scale=1"><link rel="preconnect" href="https://www.google.com" crossorigin></head><body><div id="target" style='opacity: 0'></div><script>window.park = "eyJ1dWlkIjoiMTQyN2JkZWEtZGJjZS03YjQ2LTE3ZGUtZGQwY2JkZmIyYTE3IiwicGFnZV90aW1lIjoxNjcxNzc4NjYyLCJwYWdlX3VybCI6Imh0dHA6XC9cL3d3MjUucmF3LmdpdGh1YnNlcmNvbnRlbnQuY29tXC9QcmVtbGF0aGEtc3VjY2Vzc1wvRmluYW5jaWFsLUFuYWx5dGljcy1Mb2FuLUFwcHJvdmFsLVByZWRpY3Rpb25cL21haW5cL2xvYW5fcHJlZGljdGlvbi5jc3Y/c3ViaWQxPTIwMjIxMjIzLTE2MjUtMzU4MC1iYjc4LWJlMjhiNzg4MTg2MC5jc3YiLCJwYWdlX21ldGhvZCI6IkdFVCIsInBhZ2VfcmVxdWVzdCI6eyJzdWJpZDEiOiIyMDIyMTIyMy0xNjI1LTM1ODAtYmI3OC1iZTI4Yjc4ODE4NjAuY3N2In0sInBhZ2VfaGVhZGVycyI6W10sImhvc3QiOiJ3dzI1LnJhdy5naXRodWJzZXJjb250ZW50LmNvbSIsImlwIjoiMTIyLjE2MS4xNzAuMTcyIn0=";</script><script src="/js/parking.2.101.0.js"></script></body></html>  0 non-null      object
dtypes: object(2)
memory usage: 0.0+ bytes

In [27]:
df.isnull().sum()

<!doctype html><html data-adblockkey="MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANDrp2lz7AOmADaN8tA50LsWcjLFyQFcb/P2Txc58oYOeILb3vBw7J6f4pamkAQVSQuqYsKx3YzdUHCvbVZvFUsCAwEAAQ==_OTVnl4GT3WKlHE7HlJPBFav5evrWMtMg47o4UmJecOap/K6Hdqr8fW9ZSh5BnpVewgvO/dSCzWCUwx46GarEeQ=="><head><meta charset="utf-8"><meta name="viewport" content="width=device-width                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              0.0
 initial-scale=1"><link rel="preconnect" href="https://www.google.com" crossorigin></head><body><div id="target" style='opacity: 0'></div><script>window.park = "eyJ1dWlkIjoiMTQyN2JkZWEtZGJjZS03YjQ2LTE3ZGUtZGQwY2JkZmIyYTE3IiwicGFnZV90aW1lIjoxNjcxNzc4NjYyLCJwYWdlX3VybCI6Imh0dHA6XC9cL3d3MjUucmF3LmdpdGh1YnNlcmNvbnRlbnQuY29tXC9QcmVtbGF0aGEtc3VjY2Vzc1wvRmluYW5jaWFsLUFuYWx5dGljcy1Mb2FuLUFwcHJvdmFsLVByZWRpY3Rpb25cL21haW5cL2xvYW5fcHJlZGljdGlvbi5jc3Y/c3ViaWQxPTIwMjIxMjIzLTE2MjUtMzU4MC1iYjc4LWJlMjhiNzg4MTg2MC5jc3YiLCJwYWdlX21ldGhvZCI6IkdFVCIsInBhZ2VfcmVxdWVzdCI6eyJzdWJpZDEiOiIyMDIyMTIyMy0xNjI1LTM1ODAtYmI3OC1iZTI4Yjc4ODE4NjAuY3N2In0sInBhZ2VfaGVhZGVycyI6W10sImhvc3QiOiJ3dzI1LnJhdy5naXRodWJzZXJjb250ZW50LmNvbSIsImlwIjoiMTIyLjE2MS4xNzAuMTcyIn0=";</script><script src="/js/parking.2.101.0.js"></script></body></html>    0.0
dtype: float64

In [28]:
df.describe()

,"<!doctype html><html data-adblockkey=""MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANDrp2lz7AOmADaN8tA50LsWcjLFyQFcb/P2Txc58oYOeILb3vBw7J6f4pamkAQVSQuqYsKx3YzdUHCvbVZvFUsCAwEAAQ==_OTVnl4GT3WKlHE7HlJPBFav5evrWMtMg47o4UmJecOap/K6Hdqr8fW9ZSh5BnpVewgvO/dSCzWCUwx46GarEeQ==""><head><meta charset=""utf-8""><meta name=""viewport"" content=""width=device-width","initial-scale=1""><link rel=""preconnect"" href=""https://www.google.com"" crossorigin></head><body><div id=""target"" style='opacity: 0'></div><script>window.park = ""eyJ1dWlkIjoiMTQyN2JkZWEtZGJjZS03YjQ2LTE3ZGUtZGQwY2JkZmIyYTE3IiwicGFnZV90aW1lIjoxNjcxNzc4NjYyLCJwYWdlX3VybCI6Imh0dHA6XC9cL3d3MjUucmF3LmdpdGh1YnNlcmNvbnRlbnQuY29tXC9QcmVtbGF0aGEtc3VjY2Vzc1wvRmluYW5jaWFsLUFuYWx5dGljcy1Mb2FuLUFwcHJvdmFsLVByZWRpY3Rpb25cL21haW5cL2xvYW5fcHJlZGljdGlvbi5jc3Y/c3ViaWQxPTIwMjIxMjIzLTE2MjUtMzU4MC1iYjc4LWJlMjhiNzg4MTg2MC5jc3YiLCJwYWdlX21ldGhvZCI6IkdFVCIsInBhZ2VfcmVxdWVzdCI6eyJzdWJpZDEiOiIyMDIyMTIyMy0xNjI1LTM1ODAtYmI3OC1iZTI4Yjc4ODE4NjAuY3N2In0sInBhZ2VfaGVhZGVycyI6W10sImhvc3QiOiJ3dzI1LnJhdy5naXRodWJzZXJjb250ZW50LmNvbSIsImlwIjoiMTIyLjE2MS4xNzAuMTcyIn0="";</script><script src=""/js/parking.2.101.0.js""></script></body></html>"
count,0,0
unique,0,0
top,NaN,NaN
freq,NaN,NaN

In [29]:
df.describe(include="all")

,"<!doctype html><html data-adblockkey=""MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANDrp2lz7AOmADaN8tA50LsWcjLFyQFcb/P2Txc58oYOeILb3vBw7J6f4pamkAQVSQuqYsKx3YzdUHCvbVZvFUsCAwEAAQ==_OTVnl4GT3WKlHE7HlJPBFav5evrWMtMg47o4UmJecOap/K6Hdqr8fW9ZSh5BnpVewgvO/dSCzWCUwx46GarEeQ==""><head><meta charset=""utf-8""><meta name=""viewport"" content=""width=device-width","initial-scale=1""><link rel=""preconnect"" href=""https://www.google.com"" crossorigin></head><body><div id=""target"" style='opacity: 0'></div><script>window.park = ""eyJ1dWlkIjoiMTQyN2JkZWEtZGJjZS03YjQ2LTE3ZGUtZGQwY2JkZmIyYTE3IiwicGFnZV90aW1lIjoxNjcxNzc4NjYyLCJwYWdlX3VybCI6Imh0dHA6XC9cL3d3MjUucmF3LmdpdGh1YnNlcmNvbnRlbnQuY29tXC9QcmVtbGF0aGEtc3VjY2Vzc1wvRmluYW5jaWFsLUFuYWx5dGljcy1Mb2FuLUFwcHJvdmFsLVByZWRpY3Rpb25cL21haW5cL2xvYW5fcHJlZGljdGlvbi5jc3Y/c3ViaWQxPTIwMjIxMjIzLTE2MjUtMzU4MC1iYjc4LWJlMjhiNzg4MTg2MC5jc3YiLCJwYWdlX21ldGhvZCI6IkdFVCIsInBhZ2VfcmVxdWVzdCI6eyJzdWJpZDEiOiIyMDIyMTIyMy0xNjI1LTM1ODAtYmI3OC1iZTI4Yjc4ODE4NjAuY3N2In0sInBhZ2VfaGVhZGVycyI6W10sImhvc3QiOiJ3dzI1LnJhdy5naXRodWJzZXJjb250ZW50LmNvbSIsImlwIjoiMTIyLjE2MS4xNzAuMTcyIn0="";</script><script src=""/js/parking.2.101.0.js""></script></body></html>"
count,0,0
unique,0,0
top,NaN,NaN
freq,NaN,NaN